alabaster==0.7.12
appdirs==1.4.4
asgiref==3.5.0
Babel==2.9.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
Django==3.2.13
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap3==15.0.0
django-bootstrap4==3.0.1
django-crispy-forms==1.14.0
django-debug-toolbar==3.2.1
django-filter==2.4.0
django-python3-ldap==0.11.3
# Editable install with no version control (django-tables2==2.4.1)
-e c:\users\public\03_src\py-3-django\.env\lib\site-packages
djangorestframework==3.13.1
docutils==0.17.1
esbonio==0.11.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
Jinja2==3.0.3
ldap3==2.8
Markdown==3.2.2
MarkupSafe==2.1.1
packaging==21.3
Pillow==9.1.0
pyasn1==0.4.8
pydantic==1.8.2
pyenchant==3.2.2
pygls==0.11.3
Pygments==2.11.2
pyparsing==3.0.7
pyspellchecker==0.6.3
pytz==2020.1
recommonmark==0.7.1
requests==2.27.1
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-spelling==7.3.2
sqlparse==0.3.1
tablib==3.0.0
typeguard==2.13.3
typing_extensions==4.2.0
urllib3==1.26.9
zipp==3.7.0
